<div class="login-container">
    <form action="/verificare-autentificare" method="POST">
        <br>
        <h2 class="titles">Welcome</h2>
        <br>
        <label for="username"><b>Username: </b></label>
        <input class="border-input-login" type="text" name="username" required><br>
        <label for="password"><b>Password: </b></label>   
        <input class="border-input-login" type="password" name="password" required><br><br>

        <div class="btn">
            <button class="btn-login" type="submit">LOGIN</button>
        </div>   
    <br>
    </form>
</div>