<% for(let i=0; i<intrebari.length; ++i) { %> 
	<p><%= intrebari[i].intrebare %></p> 
	<% let c=0; %>
	<% for(let v of intrebari[i].variante) { %>
	<input type="radio" name="q<%= i %>" value="<%= c++ %>"/>
	<label><%= v %></label> <br/>
		
<%      } 
    }%>