<div class="butoane-bd">
    <form action="/creare-bd" method="GET">
        <button type="submit">Create databases</button>
    </form><br>
    <form action="/inserare-bd" method="GET">
        <button type="submit">Upload databases</button>
    </form>
</div>

<h2>Bine ai venit <%= username %>!</h2>
