<br><br><br>
<h2 class="titles">Bine ai venit <%= username %>!</h2>

<div class="butoane-bd">
        <form action="/creare-bd" method="GET">          
                <button class="btn-bd" type="submit">Create databases</button>
        </form>
        <form action="/inserare-bd" method="GET">
                <button class="btn-bd" type="submit">Upload databases</button>
        </form>
</div>


