<!DOCTYPE html>
<head>
    <title>Smile</title>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    
    <header>
        <img src="imagini/logo_proiect2.png" alt="logo" class="center-header"/>
    </header>

    <nav>
        <a>CHESTIONAR</a> 
        <a>CEVA</a> 
    </nav>

    <main>
        <%- body %>
    </main>

    <footer>&copy; Lupu Maria</footer>
</body>
</html>