<!DOCTYPE html>
<head>
    <title>Smile</title>
</head>
<body>
    
    <nav>
        <a>CHESTIONAR</a> 
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
    </nav>

    <main>
        <%- body %>
    </main>

</body>
</html>