
<br><br>
<h2 class="titles">Shopping cart:</h2>
<br><br>

<div class="container-with-products-cart">
       <% for(var i=0 in numar){ %>
        <div class="products-in-cart">
                <h2 class="nume-product-in-cart"><%=numar[i].nume%></h1>
                <p class="price-product-in-cart">Price: <%=numar[i].pret%> RON</p>
        </div>
    <% } %>
</div>
<br><br><br><br>
<aside class="aside-index">
    <form action="/logout" method="POST">
        <% if(username != undefined ){ %>
            <label class="message-aside"><%= username %></label>
            <hr id="hr-aside">
            <div class="btn">
                <button class ="btn-aside-login-logout" type="submit" >LOGOUT</button>
            </div>
        <%}else{%>
            <label class="message-aside">You are not logged in.</label>
            <div class="btn">
                <button class ="btn-aside-login-logout" type="submit" >LOGIN</button>
            </div>			
        <%}%>
    </form>
</aside>
<br><br>
<br><br>
<br><br>